@model CartViewModel

@{
        ViewData["Title"] = "Cart Overview";
}


@if (Model.CartItems.Count > 0)
{

    <div class="cartWrapper">

        <div class="cartbg d-none">
            <h3 class="text-center">Redirecting you to paypal</h3>
            </div>
        <table class="table">
                <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th></th>
                        <th>Price</th>
                        <th>Total</th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                        <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>
                                        <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                                        <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                                        <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                                </td>
                                <td>@item.Price.ToString("C2")</td>
                                <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
                        </tr>
                }
                <tr>
                        <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
                </tr>
                <tr>
                        <td class="text-right" colspan="4">
                                <a class="btn btn-danger" asp-action="Clear">Clear Cart</a>
                                <a class="btn btn-primary checkout" href="#">Checkout</a>
                        </td>
                </tr>
        </table>
    </div>


}
else
{
        <h3 class="display-4 text-center">Your cart is empty.</h3>
}

<partial name="~/Views/Cart/_PaypalPartial.cshtml" for="CartItems" />

@section Scripts {

    <script>
    $(function () {
        $("a.checkout").click(function (e) {
            e.preventDefault();
            $("div.cartbg").removeClass("d-none");
            $.get("/cart/clear", {}, function () {
                $("form.paypalform").submit();
            });
            
        });
    });
    </script>

}